@using ByteNuts.NetCoreControls.Models.Grid
@using ByteNuts.NetCoreControls.Samples.Controls.Ef.Data.Northwind
@{
    var context = ViewData["EditableGrid"] as NccGridContext;
}

<ncc:grid Context="@context" DataKeys="ProductId" AllowPaging="true" RenderForm="true">
    <ncc:grid-content ContentType="PreContent">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-@ViewBag.MessageType alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @ViewBag.Message
            </div>
        }
    </ncc:grid-content>
    <ncc:grid-columns>
        <ncc:grid-columnbound DataValue="@Model.ProductId" HeaderText="Product Id"></ncc:grid-columnbound>
        <ncc:grid-columntemplate>
            <ncc:grid-headertemplate>Product Name</ncc:grid-headertemplate>
            <ncc:grid-itemtemplate>
                <input type="text" name="[@Model.NccRowNumber].ProductName" value="@Model.ProductName" class="form-control" />
            </ncc:grid-itemtemplate>
        </ncc:grid-columntemplate>
        <ncc:grid-columntemplate>
            <ncc:grid-headertemplate>Supplier</ncc:grid-headertemplate>
            <ncc:grid-itemtemplate>
                <select asp-items="@(new SelectList((List<Suppliers>)context?.AdditionalData["Suppliers"], "SupplierId", "CompanyName", Model.SupplierId))" name="[@Model.NccRowNumber].SupplierId" class="form-control"></select>
            </ncc:grid-itemtemplate>
        </ncc:grid-columntemplate>
        <ncc:grid-columntemplate>
            <ncc:grid-headertemplate>Category</ncc:grid-headertemplate>
            <ncc:grid-itemtemplate>
                <select asp-items="@(new SelectList((List<Categories>)context?.AdditionalData["Categories"], "CategoryId", "CategoryName", Model.CategoryId))" name="[@Model.NccRowNumber].CategoryId" class="form-control"></select>
            </ncc:grid-itemtemplate>
        </ncc:grid-columntemplate>
        <ncc:grid-columntemplate>
            <ncc:grid-headertemplate>Quantity Per Unit</ncc:grid-headertemplate>
            <ncc:grid-itemtemplate>
                <input name="[@Model.NccRowNumber].QuantityPerUnit" value="@Model.QuantityPerUnit" class="form-control" />
            </ncc:grid-itemtemplate>
        </ncc:grid-columntemplate>
        <ncc:grid-columntemplate>
            <ncc:grid-headertemplate>Unit Price</ncc:grid-headertemplate>
            <ncc:grid-itemtemplate>
                <input name="[@Model.NccRowNumber].UnitPrice" value="@Model.UnitPrice" class="form-control" />
            </ncc:grid-itemtemplate>
        </ncc:grid-columntemplate>
        <ncc:grid-columntemplate>
            <ncc:grid-headertemplate>Units In Stock</ncc:grid-headertemplate>
            <ncc:grid-itemtemplate>
                <input type="number" name="[@Model.NccRowNumber].UnitsInStock" value="@Model.UnitsInStock" class="form-control" />
            </ncc:grid-itemtemplate>
        </ncc:grid-columntemplate>
        <ncc:grid-columntemplate>
            <ncc:grid-headertemplate>Units On Order</ncc:grid-headertemplate>
            <ncc:grid-itemtemplate>
                <input type="number" name="[@Model.NccRowNumber].UnitsOnOrder" value="@Model.UnitsOnOrder" class="form-control" />
            </ncc:grid-itemtemplate>
        </ncc:grid-columntemplate>
        <ncc:grid-columntemplate>
            <ncc:grid-headertemplate>Reorder Level</ncc:grid-headertemplate>
            <ncc:grid-itemtemplate>
                <input type="number" name="[@Model.NccRowNumber].ReorderLevel" value="@Model.ReorderLevel" class="form-control" />
            </ncc:grid-itemtemplate>
        </ncc:grid-columntemplate>
        <ncc:grid-columntemplate>
            <ncc:grid-headertemplate>Discontinued</ncc:grid-headertemplate>
            <ncc:grid-itemtemplate>
                <select name="[@Model.NccRowNumber].Discontinued" class="form-control">
                    @if (Model.Discontinued)
                    {
                        <option value="true" selected="selected">Discontinued</option>
                        <option value="false">Active</option>
                    }
                    else
                    {
                        <option value="true">Discontinued</option>
                        <option value="false" selected="selected">Active</option>
                    }
                </select>
            </ncc:grid-itemtemplate>
        </ncc:grid-columntemplate>
        <ncc:grid-columntemplate>
            <ncc:grid-itemtemplate>
                <a href="#" ncc-grid-action-target="EditableGrid" ncc-grid-action="UpdateRow" ncc-grid-row="@Model.NccRowNumber" >Update Row</a>
            </ncc:grid-itemtemplate>
        </ncc:grid-columntemplate>
    </ncc:grid-columns>
    <ncc:grid-content ContentType="PostContent">
        <div class="row">
            <div class="col-sm-12 text-center">
                <button type="button" class="btn btn-success" ncc-grid-action-target="EditableGrid" ncc-grid-action="Update">Update all info</button>
            </div>
        </div>
    </ncc:grid-content>
</ncc:grid>