@using ByteNuts.NetCoreControls.Models.Grid
@using ByteNuts.NetCoreControls.Samples.Controls.Ef.Data.Northwind
@{
    var context = ViewData["EditableGrid"] as NccGridContext;
}

<ncc:grid Context="@context" DataKeys="ProductId" AllowPaging="true" RenderForm="true">
    <ncc:grid-content ContentType="PreContent">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-@ViewBag.MessageType alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @ViewBag.Message
            </div>
        }
    </ncc:grid-content>
    <ncc:grid-columns>
        <ncc:grid-columnbound DataValue="@Model.ProductId" DataField="ProductId" HeaderText="Product Id"></ncc:grid-columnbound>
        <ncc:grid-columnbound DataValue="@Model.ProductName" DataField="ProductName" HeaderText="Product Name"></ncc:grid-columnbound>
        <ncc:grid-columntemplate>
            <ncc:grid-headertemplate>Supplier</ncc:grid-headertemplate>
            <ncc:grid-itemtemplate>
                @(((List<Suppliers>)context?.AdditionalData["Suppliers"]).FirstOrDefault(x => x.SupplierId == Model.SupplierId)?.CompanyName)
            </ncc:grid-itemtemplate>
            <ncc:grid-edittemplate>
                <select asp-items="@(new SelectList((List<Suppliers>)context?.AdditionalData["Suppliers"], "SupplierId", "CompanyName", Model.SupplierId))" name="SupplierId" class="form-control">
                </select>
            </ncc:grid-edittemplate>
        </ncc:grid-columntemplate>
        <ncc:grid-columntemplate>
            <ncc:grid-headertemplate>Category</ncc:grid-headertemplate>
            <ncc:grid-itemtemplate>
                @(((List<Categories>)context?.AdditionalData["Categories"]).FirstOrDefault(x => x.CategoryId == Model.CategoryId)?.CategoryName)
            </ncc:grid-itemtemplate>
            <ncc:grid-edittemplate>
                <select asp-items="@(new SelectList((List<Categories>)context?.AdditionalData["Categories"], "CategoryId", "CategoryName", Model.CategoryId))" name="CategoryId" class="form-control"></select>
            </ncc:grid-edittemplate>
        </ncc:grid-columntemplate>
        <ncc:grid-columnbound DataValue="@Model.QuantityPerUnit" DataField="QuantityPerUnit" HeaderText="Quantity Per Unit"></ncc:grid-columnbound>
        <ncc:grid-columnbound DataValue="@($"{Model.UnitPrice:0.00} €")" DataField="UnitPrice" HeaderText="Unit Price"></ncc:grid-columnbound>
        <ncc:grid-columnbound DataValue="@Model.UnitsInStock" DataField="UnitsInStock" HeaderText="Units In Stock"></ncc:grid-columnbound>
        <ncc:grid-columnbound DataValue="@Model.UnitsOnOrder" DataField="UnitsOnOrder" HeaderText="Units On Order"></ncc:grid-columnbound>
        <ncc:grid-columnbound DataValue="@Model.ReorderLevel" DataField="ReorderLevel" HeaderText="Reorder Level"></ncc:grid-columnbound>
        <ncc:grid-columntemplate>
            <ncc:grid-headertemplate>Discontinued</ncc:grid-headertemplate>
            <ncc:grid-itemtemplate>
                <span>@(Model.Discontinued ? "Discontinued" : "Active")</span>
            </ncc:grid-itemtemplate>
            <ncc:grid-edittemplate>
                <select name="Discontinued" class="form-control">
                    @if (Model.Discontinued)
                    {
                        <option value="true" selected="selected">Discontinued</option>
                        <option value="false">Active</option>
                    }
                    else
                    {
                        <option value="true">Discontinued</option>
                        <option value="false" selected="selected">Active</option>
                    }
                </select>
            </ncc:grid-edittemplate>
        </ncc:grid-columntemplate>
    </ncc:grid-columns>
</ncc:grid>